.logo {
    width: 25%;
}
.title-div {
    display: table;
    overflow: hidden;
}
.title-header {
    text-align: justify;
    display: table-cell;
    vertical-align: bottom;
    padding-left: 20px;
}
.source-header {
    text-align: justify;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 10px;
}
.key-column{
    width: 35%;
}
.value-column{
    width: 65%;
}